{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="display-1"><h1>Welcome to BlogTube.</h1></div>
    <hr>
    <p class="lead">
      Here you can create, join different groups as per your interest and enjoy the various blogs written and publish by awesome creators from all over the world.
      <br>
      And hey, don't forget you can also publish your own blogs! Enjoy!
    </p>
    <br>
    <p class="lead">
        I will suggest you to sign up first so that you can use all the features of site! Othewise you can always spend time as a guest and read blogs!
    </p>
</div>
{% endblock content %}