{% extends 'base.html' %}


{% block content %}


<div class="container">
    <h1 style="text-align: center;">{{ post.title }}</h1>
    <hr>
    <p style="font-weight: 600;">{{ post.description }}</p>
    <p style="font-weight: bold;" class="text-end"> - {{ post.user}}</p>
    <hr>
    {% if user == post.user %}
    <a class="btn btn-secondary" href="{% url 'blog:post_edit' pk=post.pk gpk=post.group.pk %}">Edit Post</a>
    <a class="btn btn-warning" href="{% url 'blog:post_delete' pk=post.pk %}">Delete</a>
    {% endif %}
</div>

{% endblock content %}